&wifi {
	status = "okay";
};

/ {
	chosen {
		zephyr,display = &ssd1675a;
	};
};


&spi2 {
    status = "okay";
    pinctrl-0 = <&spim2_default>; // zephyr\boards\xtensa\esp32\esp32-pinctrl.dtsi
    cs-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
    ssd1675a: ssd1675a@0 { //gdem029e97
        compatible = "solomon,ssd1675a";
        reg = <0>;
        spi-max-frequency = <4000000>;
        reset-gpios = <&gpio0 25 GPIO_ACTIVE_LOW>;
        dc-gpios = <&gpio1 32 GPIO_ACTIVE_LOW>;
        busy-gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
        height = <128>;
        width = <296>;
        //softstart = [d7 d6 9d];

		full {
            sdv = [41 A8 32];
            gdv = [15];
			vcom = <0x26>;
			border-waveform = <0x03>;
			dummy-line = <0x30>;
			gate-line-width = <0x0A>;
			lut = [
				80 60 40 00 00 00 00
                10 60 20 00 00 00 00
                80 60 40 00 00 00 00
                10 60 20 00 00 00 00
                00 00 00 00 00 00 00
                03 03 00 00 02
                09 09 00 00 02
                03 03 00 00 02
                00 00 00 00 00
                00 00 00 00 00
                00 00 00 00 00
                00 00 00 00 00
			];
		};

		partial {
            sdv = [41 A8 32];
            gdv = [15];
			vcom = <0x26>;
			border-waveform = <0x01>;
			dummy-line = <0x1a>;
			gate-line-width = <0x08>;
			lut = [
				00 00 00 00 00 00 00
                80 00 00 00 00 00 00
                40 00 00 00 00 00 00
                00 00 00 00 00 00 00
                00 00 00 00 00 00 00
                0A 00 00 00 00
                00 00 00 00 00
                00 00 00 00 00 
                00 00 00 00 00
                00 00 00 00 00 
                00 00 00 00 00
                00 00 00 00 00
			];
		};
    };
};

/// {
//    aliases {
//        respin = "/epd_out/res";
//        cspin = "/epd_out/cs";
//        dcpin = "/epd_out/dc";
//        busypin = "/epd_in/busy";
//    };
//    epd_out {
//        compatible = "gpio-leds"; 
//        res {
//            gpios = <&gpio0 25 GPIO_ACTIVE_HIGH>;
//            label = "EDP_RES";
//        };
//        cs {
//            gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
//            label = "EDP_CS";
//        };
//        dc {
//            gpios = <&gpio1 32 GPIO_ACTIVE_HIGH>;
//            label = "EDP_DC";
//        };
//    };
//
//    epd_in {
//        compatible = "gpio-keys";
//        busy {
//            gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
//            label = "EDP_BUSY";
//        };
//    };
//
//};